.header {
  background-color: $color-orange;
  padding: 12px 0;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__link {
    color: $color-white;
    font-weight: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s;

    &:hover,
    &.active {
      border-bottom: 1px solid $color-white;
    }
  }
}
