.favorites {
  padding: 10px 0 30px;

  h1 {
    margin-bottom: 15px;
    text-align: right;
  }

  &__list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
    gap: 20px;

    @include tablet {
      justify-content: flex-start;
    }
  }
}
