.not-found {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 75px);
  align-items: center;
  justify-content: center;
  user-select: none;

  h1 {
    font-size: 120px;
  }

  h2 {
    color: $color-dark-orange;
    font-size: 48px;
    margin-bottom: 45px;
  }

  &__link {
    color: $color-dark-orange;
    border: 4px solid $color-dark-orange;
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 700;
    transition: 0.3s;

    &:hover {
      color: $color-orange;
      border-color: $color-orange;
      box-shadow: 0 0 20px 0px rgba(129, 68, 37, 0.35);
    }
  }
}
