// COLORS
$color-black: #232323;
$color-white: #ffffff;
$color-orange: rgb(254, 147, 81);
$color-dark-orange: rgb(202, 99, 36);
$color-light-grey: rgb(230, 230, 230);
$color-light-yellow: rgb(255, 253, 240);

// SETTINGS
$desktop-xl: 1920px;
$desktop: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile-x: 425px;
$mobile: 320px;
